<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Email</label>
  </div>
  <div class="col-auto">
    <input [formControl]="EmailControl" type="email" id="inputPassword6" class="form-control"
           aria-describedby="passwordHelpInline">
  </div>
  <div class="col-auto">
    <ul class="durations">
      <li *ngFor="let duration of durations; let i = index"
          [class.selected]="duration === selectedDuration"
          (click)="onSelect(duration)">
        <span class="badge">{{i}}</span> {{duration.value}}
      </li>
    </ul>

    <button type="button" class="btn btn-primary" (click)="GenerateToken()">Generate Token</button>
  </div>

 

</div>
<br>
<h2>Review Apllication <span class="badge badge-secondary">HR</span></h2>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Visa </th>
      <th scope="col">Application Type</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of workflows; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.workAuth}}</td>
      <td>{{item.type}}</td>
      <td>{{item.status}}</td>
      <td> <a  class="link-info" (click)="showProfile(item.email)">Info link</a></td>
      
    </tr>
 
  </tbody>
  <div *ngIf="hidden">

    <a class="nav-link" (click)="hide()">Hide</a>

    <button  style="margin: 25px ;" (click)="makeDecison('complete')" type="button" class="btn btn-success">Approve</button>
      
    <button type="button" (click)="makeDecison('reject')"  class="btn btn-danger">Reject</button>
      <br>
    <label for="exampleFormControlTextarea1">Comments</label>
    <textarea  [(ngModel)]='Comments'  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

    

  </div>
  
</table>

<router-outlet></router-outlet>

