<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  
      <button color="accent"  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="step2">Basic Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="step3">Contact Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="step4">Car Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="step5">Residential Status</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="step6">Contact Person</a>
          </li>
  
  
        </ul>
      </div>
    </div>
  
 
  
  </nav>
  
  <router-outlet></router-outlet>
  