<div class="container col-md-6">
  <h1 style="color: red;">Contact Information</h1>
  <form>

    <div class="mb-3">
      <label  class="form-label">Cell Phone</label>
      <input type="text" class="form-control" id="cellphone" name="cellphone" [(ngModel)]="contactInfo.cellphone">
    </div>
    <div class="mb-3">
      <label  class="form-label">Work Phone</label>
      <input type="text" class="form-control" id="workphone" name="workphone" [(ngModel)]="contactInfo.alternatePhone" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="email" class="form-control" id="Email" name="Email" [(ngModel)]="contactInfo.email" >
    </div>
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Address Line1</label>-->
<!--      <input type="text" class="form-control" id="Address1" name="Address1" [(ngModel)]="contactInfo.addressDaoList.addressLine1">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Address Line2</label>-->
<!--      <input type="text" class="form-control" id="Address2" name="Address2" [(ngModel)]="contactInfo.addressDaoList.addressLine2">-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">City</label>-->
<!--      <input type="text" class="form-control" id="City" name="City" [(ngModel)]="contactInfo.addressDaoList.city" >-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Status</label>-->
<!--      <input type="text" class="form-control" id="Status" name="Status" [(ngModel)]="contactInfo.addressDaoList.status" >-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--      <label  class="form-label">Zip Code</label>-->
<!--      <input type="text" class="form-control" id="zipcode" name="zipcode" [(ngModel)]="contactInfo.addressDaoList.Zipcode" >-->
<!--    </div>-->
    <button (click)="changePage();saveContactInfo();contactInfoRegister()">
    <span>next</span>
    </button>
<!--    <a routerLink="step4"><button class="btn btn-success pull-right" > next</button></a>-->
<!--    <button type="submit" class="btn btn-primary">save</button>-->
  </form>
</div>

