
<!--<table>-->
<!--  <p *ngFor="let row of testarray; index as i">-->
<!--    <tr>-->
<!--      <p *ngFor="let col of row; index as j"></p>-->
<!--    </tr>-->

<!--  </p>-->
<!--  <tr>-->
<!--    <td>row 1, cell 1</td>-->
<!--    <td>row 1, cell 2</td>-->
<!--  </tr>-->
<!--</table>-->
<table>
    <tr>
      <th *ngFor="let column of headers">
        {{column}}
      </th>
    </tr>
    <tr *ngFor="let row of data, let i=index">
      <td>{{i}}</td>
      <td>{{row.Name}}</td>
      <td>{{row.Work_Authorization}}</td>
      <td>{{row.Application_Type}}</td>
      <td>{{row.Status}}</td>
    </tr>
  
  </table>
  