<!-- <div class=".spacer">
    
    
    <a mat-button color="accent" routerLink="hr">HR</a>
    <a mat-button  routerLink="hr/employeeprofile">Employee Profile</a>
    <a mat-button routerLink="hr/visastatusmanagement">Visa Status Management</a>
    <a mat-button routerLink="hr/hire">Hire</a>
    <a mat-button routerLink="logout">Logout</a>
    
    
      </div> -->
    
      
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              
              
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="navbar-brand" routerLink="hr">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="profile">Employee Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="visa">Visa Status Management</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="hire">Hire</a>
                  </li>
                 
                 
                </ul>
              </div>
            </div>
            
                <a class="nav-link" (click)="logout()">Logout</a>
              
          </nav>

<router-outlet></router-outlet>