<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card-group">
    <div class="card">
        
     
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-meh-o" style="font-size:36px"></i>  Personal Info</h5>
        <div class="container">
            <div class="row">
              <div  class="col-6 col-sm-5">
                <h5>Full Name</h5>
              </div>
              <div class="col-6 col-sm-5"><h5>DOB</h5></div>
          
              <div class="w-100"></div>
          
              <div class="col-6 col-sm-5">Name</div>
              <div class="col-6 col-sm-5">Dob</div>
            </div>
            <br>
           
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>Age</h5></div>
                <div class="col-6 col-sm-5"><h5>Gender</h5></div>
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                <div class="col-6 col-sm-5">Dob</div>
            </div>

            <br>
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>SSN</h5></div>
                
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                
            </div>
          </div>

          
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-info">Edit</button></small>
      </div>
    </div>


    

        <!-- address -->
    <div class="card">
   
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-address-book-o" style="font-size:36px"></i>   Address</h5> 
        <div class="container">
            <div class="row">
              <div  class="col-6 col-sm-5">
                <h5>AddressLine1</h5>
              </div>
              <div class="col-6 col-sm-5"><h5>AddressLine2</h5></div>
          
              <div class="w-100"></div>
          
              <div class="col-6 col-sm-5">Name</div>
              <div class="col-6 col-sm-5">Dob</div>
            </div>
            <br>
           
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>City</h5></div>
                <div class="col-6 col-sm-5"><h5>State</h5></div>
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                <div class="col-6 col-sm-5">Dob</div>
            </div>

            <br>
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>Zipcode</h5></div>
                
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                
            </div>
          </div>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-info">Edit</button></small>
      </div>
    </div>



    <!-- address -->

    <div class="card">
     
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-volume-control-phone" style="font-size:36px"></i>  Contact Info</h5>
        <div class="container">
            <div class="row">
              <div  class="col-6 col-sm-5">
                <h5>cellPhone</h5>
              </div>
              <div class="col-6 col-sm-5"><h5>Alternate Phone</h5></div>
          
              <div class="w-100"></div>
          
              <div class="col-6 col-sm-5">Name</div>
              <div class="col-6 col-sm-5">Dob</div>
            </div>
            <br>
           
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>Email</h5></div>
            
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Email</div>
                
            </div>

            <br>
            
          </div>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-info">Edit</button></small>
      </div>
    </div>
  </div>
  <div class="card-group">
     
    

    <!-- address -->
    <div class="card">

      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-shopping-bag" style="font-size:36px;"></i>  Employment</h5>
        <div class="container">
            <div class="row">
              <div  class="col-6 col-sm-5">
                <h5>Work authorization</h5>
              </div>
              
          
              <div class="w-100"></div>
          
              
              <div class="col-6 col-sm-5">Dob</div>
            </div>
            <br>
           
            <div class="row">
                <div class="col-6 col-sm-5"><h5>authorization start date</h5></div>
                <div class="col-6 col-sm-5"><h5>authorization end date</h5></div>
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                <div class="col-6 col-sm-5">Dob</div>
            </div>

            <br>
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>SSN</h5></div>
                
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                
            </div>
          </div>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-info">Edit</button></small>
      </div>
    </div>
    <div class="card">
      

        <!-- address -->
      <div class="card-body">
        <h5 class="card-title"> <i class="fa fa-child" style="font-size:36px"></i>  Emergency Contact</h5>
        <div class="container">
            <div class="row">
              <div  class="col-6 col-sm-5">
                <h5>Full Name</h5>
              </div>
              <div class="col-6 col-sm-5"><h5>Relationship</h5></div>
          
              <div class="w-100"></div>
          
              <div class="col-6 col-sm-5">Name</div>
              <div class="col-6 col-sm-5">Dob</div>
            </div>
            <br>
           
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>Cell Phone</h5></div>
                <div class="col-6 col-sm-5"><h5>Email</h5></div>
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                <div class="col-6 col-sm-5">Dob</div>
            </div>

            <br>
            <div class="row">
                <div  class="col-6 col-sm-5"><h5>SSN</h5></div>
                
            
                
                <div class="w-100"></div>
            
                <div class="col-6 col-sm-5">Name</div>
                
            </div>
          </div>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-info">Edit</button></small>
      </div>
    </div>
    <div class="card">
    



        <!-- address -->
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-file-code-o" style="font-size:36px"></i> Document </h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><button type="button" class="btn btn-info">Edit</button></small>
      </div>
    </div>
  </div>