<div class="container col-md-6">
  <h1 style="color: red;">Basic Information</h1>

    <form>

    <div class="mb-3">
      <label class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="basicInfo.firstName">
    </div>
    <div class="mb-3">
      <label  class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="middlename" name="middlename" [(ngModel)]="basicInfo.middleName" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="basicInfo.lastName" >
    </div>
    <div class="mb-3">
      <label  class="form-label">SSN</label>
      <input type="text" class="form-control" id="SSN" name="SSN" [(ngModel)]="basicInfo.SSN">
    </div>
    <div class="mb-3">
      <label  class="form-label">Date Of Birth</label>
      <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" [(ngModel)]="basicInfo.DOB" >
    </div>

    <div class="mb-3">
      <label class="form-label">Gender</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male" [(ngModel)]="basicInfo.gender">
        <label>
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female" [(ngModel)]="basicInfo.gender">
        <label>
          Female
        </label>
      </div>
    </div>
    <div class="input-group mb-3">
      <label>Upload Avatar</label>
      <br>
      <input type="file" class="form-control"  id="inputGroupFile02" (change)="selectFile($event)" >
      
    </div>


      <button (click)="changePage();saveBasicInfo();basicInfoRegister()">
        <span>next</span>
      </button>
  </form>
</div>
