<div class="container col-md-6">
  <h1 style="color: red;">Basic Information</h1>

    <form>

    <div class="mb-3">
      <label class="form-label">First Name(*)</label>
      <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="basicInfo.firstName">
    </div>
    <div class="mb-3">
      <label  class="form-label">Middle Name</label>
      <input type="text" class="form-control" id="middlename" name="middlename" [(ngModel)]="basicInfo.middleName" >
    </div>
    <div class="mb-3">
      <label  class="form-label">Last Name(*)</label>
      <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="basicInfo.lastName" >
    </div>
    <div class="mb-3">
      <label  class="form-label">SSN(*)</label>
      <input type="text" class="form-control" id="SSN" name="SSN" [(ngModel)]="basicInfo.SSN">
    </div>
    <div class="mb-3">
      <label  class="form-label">Date Of Birth(*)</label>
      <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" [(ngModel)]="basicInfo.DOB" >
    </div>

    <div class="mb-3">
      <label class="form-label">Gender(*)</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="male" value="male" [(ngModel)]="basicInfo.gender">
        <label>
          Male
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="female" value="female" [(ngModel)]="basicInfo.gender">
        <label>
          Female
        </label>
      </div>
    </div>
    <div class="input-group mb-3">
      <label>Upload Avatar</label>
      <br>
      <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

<!--      <div>-->
<!--        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">-->
<!--          <div>-->
<!--            <input type="file" name="profile" (change)="onFileSelect($event)" />-->
<!--          </div>-->
<!--          <div>-->
<!--            <button type="submit">Upload</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->


<!--    <button class="btn btn-success pull-right" ><a routerLink="/step3"> next</a></button>-->
<!--    <input type="button" value="Add Bulk Enquiry" [routerLink]="['../step3']" class="btn">-->

<!--    <a routerLink="step3"><button class="btn btn-success pull-right" > next</button></a>-->
<!--    <button (click)="router.navigate(['step3']);">-->
<!--      <span>next</span>-->
<!--    </button>-->
<!--    <a class="btn" routerLink="step3">next</a>-->
      <button (click)="changePage();saveBasicInfo();basicInfoRegister()">
        <span>next</span>
      </button>
<!--    <a class="btn"><button (click)="saveBasicInfo();basicInfoRegister()"  class="btn btn-primary">next</button></a>-->
  </form>
</div>
